@keyframes hide{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
:root{
    --logo-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --showcase-font: 'Glegoo', serif;
    --purple:  rgb(234, 0, 255);
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
    text-decoration: none;
}
/* Styling for the navigation bar :) */
nav{
    top: 0;
    z-index: 1000;
    width: 100vw;
}
#button_fix{
    position: fixed;
    bottom: 25px;
    right: 25px;
    padding: 15px;
    border-radius: 50%;
    border: 2px solid var(--purple);
    background: black;
    color: white;
}

.logo{
    font-family: var(--logo-font);
    font-size: 50px;
    color: var(--purple);
    text-shadow: 1px 1px 0px rgb(255, 255, 255);
}
/* Styling for the showcase :) */
div.showcase{
    top: 0;
    box-sizing: border-box;
    background: url('images/crossfit_back_girl_120978_2560x1080.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    height: 100vh;
}
div.showcase h1{
    text-align: center;
    font-family: var(--showcase-font);
    font-size: 50px;
    color: var(--purple);
}
/* Styling for the About section */
#about{
    height: 60vh;
    background: rgb(0, 0, 0);
    border-top: 2px solid var(--purple);
}
.about_title,
.prog_title,
.train_title,
.cont_title{
    text-align: center;
    font-size: 50px;
    font-family: var(--showcase-font);
    margin-top: 60px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0px var(--purple);
}
.about_par{
    padding: 20px;
    font-size: 20px;
    font-family: var(--showcase-font);
    color: white;
    text-align: center;
}
/* Styling for the programs section*/
.cont_title{
    margin-bottom: 20px;
}
  #contact{
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: rgb(0, 0, 0);
      border-top: 2px solid var(--purple);
      height: 80vh;
  }
  #contact span{
      font-family: var(--showcase-font);
      color: white;
      text-align: center;
  }
  footer{
      color: black;
      font-family: var(--showcase-font);
      font-size: 15px;
      text-align: center;
      background: var(--purple);
  }
  .cell img{
      width: 100%;
  }
  /* Styling for the trainers section*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Smaller devices - smartphones */
@media (max-width: 900px) {

    /* Styling for the navigation bar :)*/
    nav{
        position: absolute;
    }
    div.mobile{
        justify-content: space-between;
        box-sizing: border-box;
        align-content: center;
        transition: all 0.5s;
        flex-direction: row;
        display: flex;
        padding: 20px;
        width: 100vw;
    }
    .darken{
        background-color: rgba(0, 0, 0,1);
    }
    .moblogo{
        font-size: 40px;
        width: 100%;
    }
    div.menu{
        cursor: pointer;
    }
    #list a{
        text-shadow: 1px 1px 0px var(--purple);
        text-decoration: none;
        transition: all 0.2s;
        align-self: center;
        font-size: 25px;
        color: white;
        width: 100%;
        margin-bottom: 20px;
    }
    .hidden,
    .links{
        background-color: rgba(0, 0, 0, 1);
        box-sizing: border-box;
        flex-direction: column;
        transition: all 0.5s;
        text-align: center;
        list-style: none;
        font-size: 20px;
        padding: 20px;
        width: 100vw;
        height: 300px;
        display: flex;
    }
    .links{
        z-index: 200;
        display: flex;
    }
    .hidden{
        visibility: collapse;
        opacity: 0;
    }
    div.line{
        border: 2px solid white;
        margin-top: 4px;
        width: 30px;
    }
    div.showcase{
        background: url('images/crossfit_back_girl_120978_2560x1080.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 400px;
        top:0;
        z-index: -1000;
    }
    div.showcase h1{
        font-size: 25px;
        margin-top: 40px;
    }
     div.text{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 100px 10%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    div.text p{
        color: white;
        font-family: var(--showcase-font);
        text-align: center;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .mobile-hidden{
        display: none;
    }
    .container{
        background: black;
        position: relative;
    }
    #about{
        height: 100vh;
        background: rgb(0, 0, 0);
        border-top: 2px solid var(--purple);
    }
    .about_title,
    .prog_title,
    .train_title,
    .cont_title{
        text-align: center;
        font-size: 30px;
        font-family: var(--showcase-font);
        margin-top: 60px;
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 0px var(--purple);
    }
    .about_par{
        padding: 20px;
        font-size: 20px;
        font-family: var(--showcase-font);
        color: white;
        text-align: center;
    }
    /* Styling for the programs section*/
#programs,
#trainers{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 30px;
    color: white;
    background: rgb(0, 0, 0);
    border-top: 2px solid var(--purple);
}
.cell{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid var(--purple);
    justify-content: center;
    align-content: center;
    font-family: var(--showcase-font);
    padding: 15px;
    transition: ease-in 0.5s;
}
.cell h1{
    margin-top: 20px;
    font-size: 20px;
}
#button_fix{
    position: fixed;
    bottom: 25px;
    right: 25px;
    padding: 15px;
    border-radius: 50%;
    border: 2px solid var(--purple);
    background: black;
    color: white;
}
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Bigger devices - laptops  */

@media (min-width: 900px){

    /* Styling for the navigation bar :)*/
    nav{
        flex-direction: row;
        position: fixed;
        display: flex;
        background: rgba(0, 0, 0, 0.7)
    }
    ul.horizontal{
        width: 80vw;
        box-sizing: border-box;
        flex-direction: row;
        font-size: 20px;
        display: flex;
    }
    h1.logo{
        font-size: 50px;
        margin: 0px 50px;
    }
    #list a{
        color: white;
        text-decoration: none;
        align-self: center;
        transition: all 0.5s;
        margin: 0 10px;
        padding: 0 20px;
    }
    ul a:hover{
        text-shadow: 1px 1px 0px rgb(0, 0, 0);
        transform: scale(1.3);
    }
    div.container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: var(--purple);
    }
    /*Styling showcase*/
    div.showcase h1{
        font-size: 50px;
    }
     div.text{
        box-sizing: border-box;
        padding: 10%;
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        gap: 20px;
    }
    div.text p{
        color: white;
        font-family: var(--showcase-font);
        text-align: center;
        font-size: 50px;
        margin-bottom: 30px;
    }
    span.logo{
        font-size: 70px;
    }
    .mobile-hidden{
        color: white;
        border: none;
        background-color: black;
        align-self: center;
        width: auto;
        padding: 20px;
        margin-bottom: 5%;
        text-transform: uppercase;
        transition: all 0.5s;
    }
    .mobile-hidden:hover{
        color: black;
        background-color: var(--purple);
        cursor: pointer;
    }
#programs,
#trainers{
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 30px;
    color: white;
    height: 100vh;
    background: rgb(0, 0, 0);
    border-top: 2px solid var(--purple);
}
#trainers{
    height: 150vh;
}
.prog_title,
.train_title{
    grid-column-start: 1;
    grid-column-end: 4;
}
.cell{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid var(--purple);
    justify-content: center;
    align-content: center;
    font-family: var(--showcase-font);
    padding: 15px;
    transition: ease-in 0.5s;
}
.cell h1{
    margin-top: 20px;
    font-size: 20px;
}
.cell:hover{
    background: var(--purple);
}
}
@media (min-width:450px) and (max-width: 1300px) {
    #trainers{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 30px;
        color: white;
        background: rgb(0, 0, 0);
        border-top: 2px solid var(--purple);
    }
    .train_title{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #contact{
        height: 80vh;
    }
    #about{
        height: 150vh;
    }

}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/

